/*
#1e1556
#4E419DFF
#444288
#cbc9fa
#f5f4ff
*/

.root {
    -fx-padding: 20px;
    -fx-background-color: #1e1556;
    -fx-font-family: "Roboto Thin";
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
* {
    -fx-font-size: 14;
}

/*rgb(78,65,157) sau #4E419DFF */

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #beb9ff, #FFFFFF);
}

.table-view .column-header{
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-border-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: #f5f4ff;
}

.table-row-cell:even {
    -fx-background-color: #ffffff;
}

.table-row-cell:selected {
    -fx-background-color: #b1c3fc;
    -fx-text-background-color: #4E419DFF;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #beb9ff, #ffffff);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #beb9ff, #ffffff);
}

.list-cell:even {
    -fx-background-color: white;
}
.list-cell:odd {
    -fx-background-color: white;
}
.list-cell:selected {
    -fx-background-color: lightgrey;
}

.button {
    -fx-border-width: 0;
    -fx-background-color: #444288;
}

#destinationLabel {
    -fx-background-color: #beb9ff;
    -fx-padding: 5;
    -fx-font-size: 20;
}

*:selected{
    -fx-border-width: 0;
}

.profile-page {
    -fx-background-color: #f5f4ff;
}

.label {
    -fx-label-padding: 0;
}